* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
  position: relative;
}

a {
  color: #d23556;
  transition: all 250ms;

  &:hover {
    color: darken(#d23556, 10%);
  }
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 400;
}

h1 {
  margin-bottom: 15px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  line-height: 1.5;
}

.overlay {
  display: none;
}

.menu-open {
  .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
  }
}

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.inner-container {
  border: 3px solid #ddeef1;
}

.icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  vertical-align: text-top;
}

@media only screen and (min-width: 920px){
  .container {
      display: flex;
      flex-flow: row nowrap;
  }
}