.hamburger-menu {
    display: inline-block;
    cursor: pointer;
}

.hamburger-menu__bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.menu-open .hamburger-menu__bar--1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.menu-open .hamburger-menu__bar--2 {
    opacity: 0;
}

.menu-open .hamburger-menu__bar--3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (min-width: 920px) {
    .hamburger-menu {
        display: none;
    }
}