.recipe {
    max-width: 850px;
    padding: 30px 20px;
  
    &__section {
      margin-bottom: 25px;
      padding: 0 15px;
    }

    &__section--img {
        background-color: #ddeef1;
        padding: 0;
        position: relative;
    }

    &__title {
        margin-top: 30px;
    }

    &__description {
        font-size: 20px;
        margin-bottom: 25px;
    }

    &__info {
        padding: 0 10px 30px;
    }

    &__info-item {
        line-height: 2;
        display: block;
    }

    &__image-container {        
        width: 100%;
        height: auto;

        img {
            width: 100%;
        }
    }

    &__list {
        padding-left: 25px;
    }

    &__specials {
        position: relative;
        margin: 15px 20px 7px;
        padding: 15px 5px 5px 10px;
        font-style: italic;
        border-left: 2px solid #ddeef1;
    }
}

@media only screen and (min-width: 544px) {
    .recipe {  
        margin: 100px auto 0;

        &__section {
            padding: 0 30px;
        }

        &__section--img {
            padding: 125px 30px 0;            
        }

        &__title {
            margin-top: 0;
        }

        &__info {
            padding: 0 0 50px;
        }

        &__info-item {
            display: inline-block;
            margin: 0 10px;
        }
        
        &__image-container {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            width: 350px;
            height: 200px;
            border: 5px solid #fff;
            border-radius: 10px;
            overflow: hidden;
        }
    }
}

@media only screen and (min-width: 920px) {
    .recipe {
        width: 75%;  
        padding: 30px 40px;  
    }
}