.recipe-list {
    background-color: #fff;
    text-align: right;   
    height: 63px; 
  
    &__title {
        padding: 15px 25px;
        background-color: #ddeef1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        position: relative;
        z-index: 3;
    }

    &__list {
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
        background-color: #fff;
        position: relative;
        z-index: 2;    
        transition: all 250ms ease;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: 40px 15px;
    }

    &__item {
        margin: 5px 10px 20px;
        text-align: center;
    }
  
    &__link {
        text-decoration: none;
    }

    &__img-container {
        width: 100%;
        max-height: 125px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
}

.menu-open .recipe-list__list {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

@media only screen and (min-width: 920px) {
    .recipe-list {
        width: 25%;
        border-right: 2px solid #ddeef1;
        text-align: left;
        height: auto; 

        &__title {
            padding: 30px 0 10px 25px;
            display: block;
        }

        &__list {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
            display: block;
            padding: 0;
        }

        &__img-container {
            display: none;
        }
      
        &__item {
            text-align: left;
            border-bottom: 2px solid #ddeef1;
            margin: 0;
        }
      
        &__link {
            display: block;
            padding: 15px 10px 15px 25px;
        }
    }

    .active.recipe-list__link {
        position: relative;
    
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 0 6px 8px;
            border-color: transparent transparent transparent lighten(#d23556, 10%);
        }
    }
}