.ribbon {
    position: absolute;
    top: -13px;
    left: -6px;
    background-color: #f2f2f2;
    height: 26px;
    width: 70px;
    z-index: 1;

    &:before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 5px 0;
        border-color: transparent darken(#f2f2f2, 10%) transparent transparent;
    }

    &__text {
        padding: 0 5px;
    }

    &__tails {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 1;

        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 100%;
            width: 0;
            height: 0;
            border: 0 solid transparent;
            border-right-width: 15px;
            border-left-width: 15px;
            border-bottom: 15px solid #f2f2f2;
        }

        &:before {
            top: 0;
            transform: translateX(-50%) rotate(180deg);
        }

        &:after {
            bottom: 0;
            transform: translateX(-50%);
        }
    }    
}