<template>
    <div id="app" class="js-app">
        <div class="overlay"></div>
        <recipe-list :recipes="recipes" :specials="specials"></recipe-list>
    </div>
</template>

<script>
import RecipeList from './components/recipe-list.vue';

export default {
    name: 'app',

    data() {
        return {
            recipes: [],
            specials: []
        };        
    },

    components: {
        'recipe-list': RecipeList
    },

    created() {
        this.getRecipes();
        this.getSpecials();
    },

    methods: {
        getRecipes() {
            fetch('/recipes')
            .then((response) => {
                return response.json();
            })
            .then((recipes) => {
                this.recipes = recipes;
            });
        },
        getSpecials() {
            fetch('/specials')
            .then((response) => {
                return response.json();
            })
            .then((specials) => {
                this.specials = specials;
            });
        }
    }
}
</script>