<template>
    <li>
        {{ currentIngredient.amount }} {{ currentIngredient.measurement }} {{ currentIngredient.name }}

        <div class="recipe__specials" v-for="special in showSpecials" :key="special.ingredientId">
            <div class="ribbon">
                <span class="ribbon__text">Specials</span>                                
                <div class="ribbon__tails"></div>
            </div>
            <p><span class="uppercase">{{ special.type }}: </span>{{ special.title }}</p>
            <p>{{ replaceTags(special.text) }}</p>
        </div>
    </li>                
</template>

<script>
  export default {
    props: {
        currentIngredient: {
            required: true
        },      
        specials: {
            required: true
        }
    },

    computed: {
        showSpecials: function () {
            return this.specials.filter(special => special.ingredientId == this.currentIngredient.uuid);
        }
    },

    methods: {
        replaceTags: function (string) {
            let newStr = string.replace('<p>', '');
            let newStr2 = newStr.replace('</p>', '');
            let newStr3 = newStr2.replace('<b>', '');
            let newStr4 = newStr3.replace('</b>', '');
            return newStr4;
        }
    }
  }
</script>