<template>
    <div class="container">
        <section class="recipe-list js-menu">
            <div class="recipe-list__title">
                <h2>Recipe List</h2>
                <div class="hamburger-menu js-hamburger">
                    <div class="hamburger-menu__bar hamburger-menu__bar--1"></div>
                    <div class="hamburger-menu__bar hamburger-menu__bar--2"></div>
                    <div class="hamburger-menu__bar hamburger-menu__bar--3"></div>
                </div>
            </div>
            <ul class="recipe-list__list tabs">
                <li class="recipe-list__item js-menu-item" v-for="recipe in recipes" :key="recipe.uuid">
                    <a class="recipe-list__link js-menu-item" href="#" @click.prevent="setRecipe(recipe.uuid)" :class="{ 'active' : activeRecipe[0] == recipe }">
                        <div class="recipe-list__img-container js-menu-item">
                            <img class="js-menu-item" :src="recipe.images.small" :alt="recipe.title" />
                        </div>
                        <span class="js-menu-item">{{ recipe.title }}</span>                        
                    </a>
                </li>
            </ul>
        </section>
        <recipe :recipe="activeRecipe" :specials="specials"></recipe>
    </div>
</template>

<script>
import Recipe from './recipe.vue';

export default {
    data() {
        return {
            selectedRecipeId: ""
        };
    },

    props: {
        recipes: {
            required: true
        },
        specials: {
            required: true
        }
    },

    components: {
        'recipe': Recipe
    },    

    computed: {
        activeRecipe: function () {
            if (this.selectedRecipeId != "") {
                return this.recipes.filter(recipe => recipe.uuid == this.selectedRecipeId);
            } else {
                //return the first recipe on page load
                return this.recipes.slice(0, 1);
            }
        }
    },

    methods: {                
        setRecipe: function (recipeId) {
            this.selectedRecipeId = recipeId;
        }
    }
}
</script>