<template>
    <section class="recipe">
        <div class="inner-container" v-for="selectedRecipe in recipe" :key="selectedRecipe.uuid">
            <div class="recipe__section recipe__section--img">
                <div class="recipe__image-container">
                    <img :src="selectedRecipe.images.medium" :alt="selectedRecipe.title" />
                </div>                
                <h1 class="recipe__title text-center">{{ selectedRecipe.title }}</h1>
                <p class="recipe__description text-center italic">{{ selectedRecipe.description }}</p>
                <div class="recipe__info text-center">
                    <p class="recipe__info-item"><img class="icon" src="@../../img/icon-scale.png" alt="Scale Icon"><span class="uppercase">Servings: </span>{{ selectedRecipe.servings }}</p>
                    <p class="recipe__info-item"><img class="icon" src="@../../img/icon-mixer.png" alt="Mixer Icon"><span class="uppercase">Prep Time: </span>{{ selectedRecipe.prepTime }} min</p>
                    <p class="recipe__info-item"><img class="icon" src="@../../img/icon-oven.png" alt="Oven Icon"><span class="uppercase">Cook Time: </span>{{ selectedRecipe.cookTime }} min</p>
                    <p class="recipe__info-item"><img class="icon" src="@../../img/icon-calendar.png" alt="Calendar Icon"><span class="uppercase">Created: </span>{{ selectedRecipe.postDate }}</p>
                    <p class="recipe__info-item"><img class="icon" src="@../../img/icon-edit.png" alt="Edit Icon"><span class="uppercase">Last Updated: </span>{{ selectedRecipe.editDate }}</p>
                </div>
            </div>
            
            <div class="recipe__ingredients recipe__section">
                <h3>Ingredients</h3>
                <ul class="recipe__list">
                    <ingredient v-for="ingredient in selectedRecipe.ingredients" :key="ingredient.uuid" :currentIngredient="ingredient" :specials="specials"></ingredient>                    
                </ul>
            </div>
            <div class="recipe__instructions recipe__section">
                <h3>Instructions</h3>
                <ul class="recipe__list">
                    <li v-for="(direction, count) in selectedRecipe.directions" :key="count">
                        {{ count + 1 }}.
                        {{ direction.instructions }}
                        <span v-if="direction.optional"> (Optional)</span>
                    </li>
                </ul>
            </div>
        </div>        
    </section> 
</template>

<script>
import Ingredient from './ingredient.vue';

  export default {
    props: {
        recipe: {
            required: true
        },      
        specials: {
            required: true
        }
    },

    components: {
        'ingredient': Ingredient
    }
  }
</script>